{% extends 'base.html' %}

{% load static %}

{% block title %}Password Reset Complete | Horizon Gallery{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Password Reset Complete</h1>
    
    <div class="card">
        <div class="card-body">
            <div class="notice notice-success">
                Your password has been successfully reset. You can now use your new password to log in.
            </div>
            <div class="btn-group">
                <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}