{% extends 'base.html' %}

{% load static %}

{% block title %}Password Changed | Horizon Gallery{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Password Changed</h1>
    
    <div class="card">
        <div class="card-body">
            <div class="notice notice-success">
                Your password has been successfully changed.
            </div>
            <div class="btn-group">
                <a href="{% url 'profile_settings' %}" class="btn btn-primary">Return to Settings</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}